body {
    font-family: Arial, sans-serif;
    background-color:  #141414;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 28px;
    background: linear-gradient(#3700ff , #110043) ;
    border-radius: 10px;
    border-color: #ffffff;
    text-align: center;
    
}

.title {
    text-align: center;
}

.info {
    text-align: left;
}