body {
    font-family: Arial, sans-serif;
    background-color:  #000000;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    /* Descomente e seja feliz
    background-image: url('./../lenda.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    */
}

.container {
    max-width: 750px;
    margin: 12px auto;
    padding: 15px 0px 0px 0px;
    background: linear-gradient(#3913c5 , #250096) ;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #808080;
    text-align: center;
}

.main_container{
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.div_global {
    width: 750px;
    min-width: 750px;
    max-width: 750px;
    text-align: center;
    padding: 20px 20px 20px 20px;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
}


.info {
    text-align: left;
}

.input_{
    width: 700px;
    min-width: 700px;
    max-width: 700px;
    border-style: none;
    background-color: rgb(240, 248, 255, 0.0);
    color: white;
    font-family: Arial;
}

.input_title{
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 217, 0);
}
.input_desc{
    font-size: 13px;
}
.input_report{
    font-size: 10px;
}

.marcadagua{
    display: flex;
    justify-content: right;
}